header {
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: 'Abril Fatface';
  color: #000000;
  margin: 20px;
}

img {
  display: block;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

#header {
  display: block;
  width: 80%;
  position: absolute;
  bottom: 5px;
  left: 20%;
}
p{
  line-height: 20px;
  color: #222;
  text-align: justify;
}


blockquote1{
  background-color: #484a4a;
  color: white;
  padding: 20px;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 30px;
  line-height: 80px;
  margin: 150px;
  
}

h2{
  margin: 30px;
  font-size: 25px;
 }
  
  
 h3,p,h4{
  margin: 30px;
  font-size: 18px;
}

ul,li{
  list-style-type: square;
}

blockquote2{
  background-color: #484a4a;
  color: white;
  padding: 25px;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 60px;
  line-height: 100px;
  margin: 100px;
}

div{
  margin: 30px;
  
}